* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}

.container header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.container .current-date {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .current-date .clock {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.container .current-date .date {
  margin-bottom: 10px;
}

.container .reader-container {
  display: flex;
  border: 3px solid #cdcdcd;
  border-radius: 4px;
}

.container .reader-container .reader-qr {
  flex: 1;
}

.container .reader-container .reader-info {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .container .reader-container {
    flex-direction: column;
  }

  .container .reader-container .reader-qr {
    margin-bottom: 20px;
  }

  .container .reader-container .reader-info {
    margin-bottom: 15px;
  }
}
